@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:wght@700&family=Yellowtail&display=swap');

/*Configurações Globais*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --fonte1: 'Asap', sans-serif;
    --fonte2:  'Nunito', sans-serif;
    --fonte3: 'Yellowtail', serif;

    --cor1: rgb(23, 8, 110);
}

body, html {
    font-family: var(--fonte2);
    color: #1c1c1c;
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    
}

h1, h2, h3 {
    font-family: var(--fonte1);
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

#checkbox-menu {
    position: absolute;
    display: none;
}

/*Configurações Globais*/



/*Header*/

nav#navegaçao {
    display: none;
}

#topo {
    padding: 20px;
    

    background-color: rgb(23, 8, 110);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#topo > h1 {
    font-family: var(--fonte3);
    font-size: 2.2em;
    font-weight: bold;
    color: white;

    margin-left: 100px;

}

#topo > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 100px;
    margin-right: 100px;
    
}

#topo > nav > ul > li > a {
    color: white;
    font-family: var(--fonte2);
    padding: 10px;

}

#topo > nav > ul > li > a:hover {
    background-color: rgb(32, 10, 158);

    transition-duration: .3s;

    text-decoration: none;
}

/*Header*/

/*Main*/

/*inicio*/

#inicio {
    background-image: url(/imagens/camera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    padding-bottom: 200px;

    color: white;
    text-align: center;
    
}

#inicio > h1 {
    color: white;

    padding-top: 250px;
}

#inicio > p {
    margin-top: 50px;
    margin-bottom: 50px;

}

#inicio > a {
    background-color: rgb(23, 8, 110);
    color: white;

    font-size: 0.9em;
    padding: 10px 20px;
    
}

/*Sobre*/

#sobre {
    background-color: rgb(23, 8, 110);
    color: white;

    text-align: center;

    padding-bottom: 70px;
}

#sobre > h2 {
    color: white;

    padding-top: 50px;
}

#sobre > p {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sobre > a {
    background-color: white;
    color: black;

    border-radius: 5px;
    padding: 10px 20px;
    
    
}

/*Serviços*/

#servicos-titulo {
    text-align: center;
    padding: 50px;
}

#servicos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    padding-bottom: 80px;

}

#servicos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 20px;
}

/*Fotos*/

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0px;

    border-top: 1px solid rgba(0, 0, 0, 0.103);
}

#fotos h2 {
    margin-bottom: 20px;   
}

#fotos img {
    max-width: 500px;
    margin: 3px;
}

/*contato*/

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    border-top: 1px solid rgba(0, 0, 0, 0.103);

    padding: 70px;
}

/*main*/

/*footer*/

footer {
    background-color: var(--cor1);
    color: white;

    padding: 20px;

    text-align: center;
    
}

footer > a {
    background-color: white;
    color: black;

    padding: 10px 20px;
    border-radius: 5px;
    

}

footer > p {
    margin-top: 30px;
}

/*footer*/

@media (max-width: 1200px) {

/*Header*/

#topo {
    padding: 20px;

    background-color: rgb(23, 8, 110);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

#topo > h1 {
    font-family: var(--fonte3);
    font-size: 2.2em;
    font-weight: bold;
    color: white;

    margin: 0 auto;

}

#topo > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 100px;
    margin: 0 auto;
    
}

}

@media (max-width: 1032px) {

/*fotos*/

    #fotos img {
        max-width: 400px;
        margin: 3px;
    }

}

@media (max-width: 700px) {

/*Header*/

#topo {
    padding: 20px;
    

    background-color: rgb(23, 8, 110);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

#topo > h1 {
    font-family: var(--fonte3);
    font-size: 2.2em;
    font-weight: bold;
    color: white;

    margin: 0;

}

nav {
    display: none;
}

/*menu hamburguer*/

.hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

/*Main*/

/*serviços*/

#servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    padding-bottom: 80px;

}

#servicos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 20px;
}



}