@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:wght@700&family=Yellowtail&display=swap');

/*Configurações Globais*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --fonte1: 'Asap', sans-serif;
    --fonte2:  'Nunito', sans-serif;
    --fonte3: 'Yellowtail', cursive;
}

body, html {
    font-family: var(--fonte2);
    color: #1c1c1c;
    
}

h1, h2, h3 {
    font-family: var(--fonte1);
    color: #000000;
}

/*Configurações Globais*/

/*Header*/

#topo {
    padding: 20px;

    background-color: rgb(23, 8, 110);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#topo > h1 {
    font-family: var(--fonte2);
    font-weight: bold;
    color: white;

    margin-left: 100px;

}

#topo > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    margin-right: 100px;

}

#topo > nav > ul > li > a {
    color: white;

}

/*Header*/

/*Main*/

/*inicio*/

#inicio {
    background-image: url(/imagens/camera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    height: 70vh;

    color: white;
    text-align: center;
    
}

#inicio > h1 {
    color: white;

    padding-top: 250px;
}

#inicio > p {
    margin-top: 50px;
    margin-bottom: 50px;

}

#inicio > a {
    background-color: rgb(23, 8, 110);
    color: white;

    font-size: 0.9em;
    padding: 10px 20px;
    
}

/*Sobre*/

#sobre {
    background-color: rgb(23, 8, 110);
    color: white;

    text-align: center;

    height: 30vh;
}

#sobre > h2 {
    color: white;

    padding-top: 50px;
}

#sobre > p {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sobre > a {
    background-color: white;
    color: black;

    border-radius: 5px;
    padding: 10px 20px;
}

/*Serviços*/

#servicos {
    height: 50vh;
    margin: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;

    align-items: center;
    text-align: center;
}

#servicos > div > img, h3 ,p {
    margin: 10px;
}

/*Fotos*/

#fotos {
    display: flex;
}